<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Flask</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">

            <div class="col-6">
                <form action="/api/index" method="post" id="app">
                  <div class="form-group" >
                    <label for="title">Название:</label>
                    <input type="text" class="form-control" id="title" v-on:input="setMessage">
                        {{ title }}
                  </div>

                  <button type="button" class="btn btn-primary" v-on:click="exePost">Submit</button>
                </form>
            </div>
        </div>
    </div>

</body>

<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

<script src="https://unpkg.com/vue"></script>
    <script >

    var app = new Vue({
        el: '#app',
        data: {
            title: ''
        },
        methods: {
            setMessage: function(event){
                this.title = event.target.value;
            },
            exePost: function (event) {
                $.ajax({
                type: "POST",
                url: `http://localhost:5000/api`,
                data:  JSON.stringify({
                    "jsonrpc": "2.0",
                    "method": "App.index",
                    "params": {title:this.title},
                    "id": "1",
                }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                headers: {
                },
                success: function (data) {
                    alert('Данные добавлены');
                    console.log(data);
                }
            });
            }
        }
    })
    </script>
</html>


